DJANGO_SECRET_KEY=EA8t7ECw--LQWvyyrgr5cw88LytTNg0X4YQNWrBLxsxxy7Tfp93A-nfkFP4vb6oqLL0
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=lunador
POSTGRES_USER=lunador
POSTGRES_PASSWORD=qvt8Bu^Wn6bTgxx
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432