@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

::selection {
  background: #9c7a3f;
  color: #f3efe4;
}

@keyframes tw {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.95;
  }
}
